<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>PoliCloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="icon.png" type="image/png">
</head>

<body>
    <svg id="lineSVG" class="lineSVG" xmlns="http://www.w3.org/2000/svg">
        <defs id="lineSVGdefs"></defs>
    </svg>

    <div id="mainDiv" class="mainDiv"></div>
    <div id="bannerDiv" class="bannerDiv"></div>
</body>

</html>
<script src="/socket.io/socket.io.js"></script>
<script src="anime.min.js"></script>
<script src="visualizer.js"></script>