body {
  background-color: black;
  background-image: url("fondoPCloud.png");
  background-size: contain;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: hidden;
}

svg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainDiv {
  width: 70vw;
  height: 95vh;
  float: left;
}

.bannerDiv {
  width: 18.75vw;
  height: 98vh;
  float: right;
  background-image: url("poliCloudBanner.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: center;
}

.lineSVG {
  position: absolute;
}

.imgAva {
  width: 120px;
  position: absolute;
  text-align: center;
  color: #ccc;
  transform: translateX(0px) translateY(0px);
}

.imgAva img {
  width: 120px;
  height: 120px;
  display: block;
  border: 3px solid;
  border-radius: 50%;
}